.list {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 15px;
}

.btn {
    cursor: pointer;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    text-shadow: black 2px 0 3px, black 0 2px 3px, black -2px 0 3px, black 0 -2px 3px;
    background-color: #FFD700;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.item:first-child .btn {
    background-color: #32CD32;
}

.item:last-child .btn {
    background-color: #FF4500;
}

.btn:hover {
    transform: scale(1.15);
}